/*FONTES*/
@font-face {
    font-family: 'Averta';
    src: url('/fonts/AvertaDemoPE-ExtraboldItalic.otf');
    font-weight: 800; /* Extrabold */
    font-style: italic; /* Italic */
}

@font-face {
    font-family: 'Averta';
    src: url('/fonts/AvertaDemoPE-Regular.otf'); /* Adicione a extensão do arquivo aqui */
    font-weight: 400; /* Regular */
    font-style: normal; /* Normal */
}


/*NAVBAR DA INTERFACE PRIVADA*/
.sidebar{
    z-index: 2;
    overflow: hidden;
}

.sidebar li:hover a{
    color: #0091FF;
}

.sidebar li:hover a img{
    filter: invert(41%) sepia(91%) saturate(765%) hue-rotate(156deg) brightness(99%) contrast(101%);
}

.sidebar-visible{
    animation: sidebar_visible 0.3s linear forwards;
}

.sidebar-hidden{
    animation: sidebar_hidden 0.3s linear forwards;
}

@keyframes sidebar_visible{
    from{
        width: 0;
    }
    to{
        width: 12rem;
    }
}

@keyframes sidebar_hidden{
    from{
        width: 12rem;
    }
    to{
        width: 0;
    }
}

/*TITULO PADRÃO*/
.title-default{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.title-default h1{
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFA919;
    font-family: 'Averta', sans-serif;
    font-weight: 800;
    font-style: italic;
}

.title-default h1::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background-color: #FFA919;
    margin-left: 1rem;
    margin-top: 0.9rem;
}
