/*NAVBAR DA INTERFACE PRIVADA*/
.sidebar{
    z-index: 2;
    overflow: hidden;
}

.sidebar li:hover a{
    color: #0091FF;
}

.sidebar li:hover a img{
    filter: invert(41%) sepia(91%) saturate(765%) hue-rotate(156deg) brightness(99%) contrast(101%);
}

.sidebar-visible{
    animation: sidebar_visible 0.3s linear forwards;
}

.sidebar-hidden{
    animation: sidebar_hidden 0.3s linear forwards;
}

@keyframes sidebar_visible{
    from{
        width: 0;
    }
    to{
        width: 12rem;
    }
}

@keyframes sidebar_hidden{
    from{
        width: 12rem;
    }
    to{
        width: 0;
    }
}